*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #242A31;
}

.home{
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
	width: 100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}


.home h1{
	color: lightgray;
	text-align: center;
	padding-top: 19vh;
}


.home input{
	border: none;
	outline: none;
	width: 65vw;
	background: lightgray;
	color: #000;
	padding: 10px 15px;
	border-radius: 15px 0px 0px 15px;

}

.home button{
	padding: 8px 14px;
	border-radius: 0px 15px 15px 0px;
	border: none;
	margin-left: -5px;
	width: 100px;
	transition: 0.8s;
	border: 2px solid #fff;
}

.home button:hover{
	background: transparent;
	color: #fff;
	}


.button a{
	background: lightgray;
	padding: 13px 8vw;
	margin-top: 20px;
	margin: 11px;
	text-decoration: none;
	color: #000;
	border-radius: 10px;
	transition: 0.7s;
	border: 2px solid lightgray;

}

.button a:hover{
	color: #fff;
	background: transparent;
}

.service_head{
	text-align: center;
	padding: 15px;
	color: #fff;
}

.service{
	padding: 0px 20px;

}

.card img{
	width: 100%;
	height: 325px;
	position: center;
}


